/**
 * @file
 * Styling for Views in Mogra.
 */

/* Tab styles */

.views-displays .tabs .open > a {
  border-radius: 7px 7px 0 0;
}

.views-displays .tabs .open > a:hover, .views-displays .tabs .open > a:focus {
  color: #0071b3;
}

.views-displays .secondary .form-submit {
  font-size: 0.846em;
}

/* Tabs action list styles */

.views-displays .tabs .action-list {
  padding: 0;
}

/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #f9f9f9;
}

/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
  color: #0071b3;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover, .views-ui-display-tab-actions .dropbutton .form-submit:focus {
  color: #018fe2;
}

/* Common styles */

.views-card, .views-grill {
  margin-top: 15px
}

.views-card .view-content::after, .views-grill .view-content::after {
    display: table;
    clear: both;
    content: "";
  }

.views-card .views-card__item, .views-card .views-grill__item, .views-grill .views-card__item, .views-grill .views-grill__item {
    transition: opacity 250ms ease-in-out
  }

.views-card .views-card__item:not(:first-child), .views-card .views-grill__item:not(:first-child), .views-grill .views-card__item:not(:first-child), .views-grill .views-grill__item:not(:first-child) {
      margin-top: 10px;
    }

.views-card .views-card__item .views-card__eyecatch img, .views-card .views-card__item .views-grill__artwork img, .views-card .views-grill__item .views-card__eyecatch img, .views-card .views-grill__item .views-grill__artwork img, .views-grill .views-card__item .views-card__eyecatch img, .views-grill .views-card__item .views-grill__artwork img, .views-grill .views-grill__item .views-card__eyecatch img, .views-grill .views-grill__item .views-grill__artwork img {
        vertical-align: top;
        transition: transform 250ms ease-in-out;
      }

.views-card .views-card__item:hover, .views-card .views-grill__item:hover, .views-grill .views-card__item:hover, .views-grill .views-grill__item:hover {
      opacity: .8
    }

.views-card .views-card__item:hover .views-card__eyecatch img, .views-card .views-card__item:hover .views-grill__artwork img, .views-card .views-grill__item:hover .views-card__eyecatch img, .views-card .views-grill__item:hover .views-grill__artwork img, .views-grill .views-card__item:hover .views-card__eyecatch img, .views-grill .views-card__item:hover .views-grill__artwork img, .views-grill .views-grill__item:hover .views-card__eyecatch img, .views-grill .views-grill__item:hover .views-grill__artwork img {
          transform: scale(1.1);
        }

@media all and (min-width: 560px) and (max-width: 850px), all and (min-width: 1100px) {

.views-card, .views-grill {
    margin-top: 20px
}
    .views-card .views-card__item, .views-card .views-grill__item, .views-grill .views-card__item, .views-grill .views-grill__item {
      width: calc(99.9% * 1/2 - (10px - 10px * 1/2));
      max-width: calc(99.9% * 1/2 - (10px - 10px * 1/2));
      height: calc(99.9% * 1/2 - (10px - 10px * 1/2))
    }
    .views-card .views-card__item:nth-child(1n), .views-card .views-grill__item:nth-child(1n), .views-grill .views-card__item:nth-child(1n), .views-grill .views-grill__item:nth-child(1n) {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      clear: none
    }
    .views-card .views-card__item:last-child, .views-card .views-grill__item:last-child, .views-grill .views-card__item:last-child, .views-grill .views-grill__item:last-child {
      margin-right: 0;
      margin-bottom: 0
    }
    .views-card .views-card__item:nth-child(2n), .views-card .views-grill__item:nth-child(2n), .views-grill .views-card__item:nth-child(2n), .views-grill .views-grill__item:nth-child(2n) {
      margin-right: 0
    }
    .views-card .views-card__item:nth-child(2n + 1), .views-card .views-grill__item:nth-child(2n + 1), .views-grill .views-card__item:nth-child(2n + 1), .views-grill .views-grill__item:nth-child(2n + 1) {
      clear: both
    }
    .views-card .views-card__item:nth-last-child(-n + 2), .views-card .views-grill__item:nth-last-child(-n + 2), .views-grill .views-card__item:nth-last-child(-n + 2), .views-grill .views-grill__item:nth-last-child(-n + 2) {
      margin-bottom: 0
    }
      .views-card .views-card__item:not(:first-child), .views-card .views-grill__item:not(:first-child), .views-grill .views-card__item:not(:first-child), .views-grill .views-grill__item:not(:first-child) {
        margin-top: 0px;
      }
  }

/* Card style */

.views-card .views-card__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative
  }

.views-card .views-card__item .views-card__eyecatch .label {
        background-color: #0f8a0f;
        border-radius: .75em;
        color: #ffffff;
        font-size: .86em;
        font-family: "M PLUS 1p",sans-serif;
        padding-left: .75em;
        padding-right: .75em;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
      }

.views-card .views-card__item .views-card__eyecatch .label--review { background-color: #196be6; }

.views-card .views-card__item .views-card__eyecatch .label--topics { background-color: #bd0f0f; }

.views-card .views-card__item .views-card__eyecatch .label--pre-registration { background-color: #ffc107; }

.views-card .views-card__item .views-card__eyecatch .label--special { background: linear-gradient(90deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); }

.views-card .views-card__item .views-card__header {
      font-size: .86em
    }

.views-card .views-card__item .views-card__header .game-title {
        background-color: #000000;
        border-radius: .25em;
        color: #ffffff;
        display: inline-block;
        max-width: 8em;
        margin-right: 5px;
        padding-left: .5em;
        padding-right: .5em;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

.views-card .views-card__item .views-card__header .date-created {
        color: #FFF;
        vertical-align: middle
      }

.views-card .views-card__item .views-card__header .date-created svg {
          margin-right: .25em;
          vertical-align: text-top;
        }

.views-card .views-card__item .views-card__content {
      background: linear-gradient(to bottom, transparent 0, rgba(0,0,0,.7) 60%, rgba(0,0,0,.95) 100%);
      box-sizing: border-box;
      width: 100%;
      padding: 25px 10px 10px;
      position: absolute;
      bottom: 0
    }

.views-card .views-card__item .views-card__content .views-card__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #ffffff;
        font-weight: bold;
        line-height: 1.43;
        margin-top: 5px;
        overflow: hidden;
      }

/* Grill styles */

.views-grill .views-grill__item a {
      color: inherit;
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap
    }

.views-grill .views-grill__item a:hover, .views-grill .views-grill__item a:active, .views-grill .views-grill__item a:focus {
        border-bottom: none;
      }

.views-grill .views-grill__artwork {
    border-radius: 22.5%;
    flex-basis: 100px;
    overflow: hidden;
    position: relative;
    z-index: 1
  }

@media all and (max-width: 1099px) {

.views-grill .views-grill__artwork {
      flex-basis: 80px
  }
    }

.views-grill .views-grill__content {
    flex: 1 1;
    margin-left: 10px;
    overflow: hidden
  }

.views-grill .views-grill__content .views-grill__title {
      font-size: 1.43em;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

.views-grill .views-grill__content .views-grill__vendor, .views-grill .views-grill__content .views-grill__genre {
      font-size: .86em;
    }

.article-list ul {
    list-style: none;
    padding: 0
  }

.article-list ul li:not(:first-child) {
        border-top: 1px solid #eee9dd;
        margin-top: 10px;
        padding-top: 10px;
      }

.article-list ul li a {
        color: inherit;
        display: flex;
        align-items: flex-start;
        border-bottom: none
      }

.article-list ul li a .article-list__eyecatch {
          flex-basis: 120px
        }

.article-list ul li a .article-list__eyecatch img {
            border-radius: 5px;
            transition: transform 250ms ease-in-out;
          }

.article-list ul li a .article-list__content {
          flex: 1 1;
          margin-left: 10px
        }

.article-list ul li a .article-list__content .article-list__title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            font-size: 1em;
            font-weight: bold;
            line-height: 1.43;
            margin: 0;
          }

.article-list ul li a .article-list__content .article-list__meta {
            color: #797d86;
            font-size: .7143em;
            display: inline-block;
            margin-top: 5px
          }

.article-list ul li a .article-list__content .article-list__meta svg {
              margin-right: .25em;
            }

.article-list ul li a:hover .article-list__eyecatch img {
            opacity: .7;
          }

/* CTA styles */

.cta {
  background-color: #f6f6f2;
  border: solid 1px #ebebe0;
  margin-top: 20px
}

.cta img {
    vertical-align: top;
  }

.cta a:hover img {
    opacity: .8;
  }

.cta .cta__container {
    background-color: #ffffff;
    padding: 10px;
  }

.cta .product-header {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0
  }

.cta .product-header .l-left {
      width: 25%;
      max-width: 160px;
      flex-basis: 25%;
    }

.cta .product-header .l-right {
      margin-left: 10px
    }

.cta .product-header .l-right header h2 {
          color: #201813;
          font-size: 1.143em;
          font-weight: bold;
          line-height: 1.4;
        }

.cta .product-header .l-right header h3 {
          font-size: .86em;
          line-height: 1.5;
          margin: 0;
        }

.cta .product-header .l-right header .inline-list {
          font-size: .7143em;
          line-height: 1.5;
        }

.cta table {
    font-size: .7143em;
    line-height: 1.2;
    margin: 10px 0 0
  }

.cta table tr th {
        min-width: 5em;
      }

.cta table tr td {
        word-break: break-all;
        word-wrap: break-word;
      }

.cta .cta__summary {
    text-align: center;
    margin-top: 10px;
  }

.cta .cta__app-download {
    background-color: #1a1a1a;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center
  }

.cta .cta__app-download h3 {
      color: #FFF;
      font-size: 1.072em;
      font-weight: bold;
      margin-top: 0;
    }

.cta .cta__app-download a img {
        width: 40%;
        max-width: 200px;
        height: auto;
      }

.cta .cta__app-download a + a {
        margin-left: 10px;
      }

@media all and (min-width: 560px) and (max-width: 850px), all and (min-width: 1100px) {
    .cta .cta__container {
      padding: 20px;
    }
    .cta .product-header {
      margin-bottom: 20px
    }
      .cta .product-header .l-right {
        margin-left: 20px
      }
        .cta .product-header .l-right header {
          margin-top: 5px
        }
          .cta .product-header .l-right header h2 {
            font-size: 1.7143em;
            margin: 0;
          }
          .cta .product-header .l-right header h3 {
            font-size: 1.143em;
          }
          .cta .product-header .l-right header .inline-list {
            font-size: .86em;
          }
    .cta table {
      font-size: .86em;
      margin: 20px 0 0;
    }
    .cta .cta__summary {
      margin-top: 20px;
    }
      .cta .cta__app-download h3 {
        font-size: 1.43em;
      }
}

/* News List styles in featured bottom */

.featured-bottom .view-news {
  margin-top: 15px
}

.featured-bottom .view-news .views-row {
    margin-bottom: 5px
  }

.featured-bottom .view-news .views-row a {
      background-color: #282523;
      display: block;
      padding: 10px
    }

.featured-bottom .view-news .views-row a:hover {
        background-color: #363230;
        border: none;
      }

.featured-bottom .view-news .views-row a:active, .featured-bottom .view-news .views-row a:focus {
        border: none;
      }

.featured-bottom .view-news .views-row .views-news__category {
      display: inline-block
    }

.featured-bottom .view-news .views-row .views-news__category span {
        background: #bd2c0f;
        border-radius: 2px;
        color: #FFF;
        display: inline-block;
        font-size: .786em;
        line-height: 1.637;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: top;
      }

.featured-bottom .view-news .views-row .views-news__created {
      display: inline-block
    }

.featured-bottom .view-news .views-row .views-news__created span {
        color: rgba(255,255,255,.5);
        font-size: .86em;
        margin-left: 5px
      }

.featured-bottom .view-news .views-row .views-news__created span svg {
          margin-right: .25em;
        }

.featured-bottom .view-news .views-row .views-news__title {
      color: #FFF;
      font-weight: bold;
      line-height: 1.43;
      margin-top: 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

.featured-bottom .view-news .views-row + .views-row {
      margin-top: 5px;
    }

/* Walkthrough Apps List styles */

.walkthrough-apps {
  margin-top: 15px
}

.walkthrough-apps .view-content .views-row {
      width: calc(99.9% * 1/4 - (10px - 10px * 1/4));
      max-width: calc(99.9% * 1/4 - (10px - 10px * 1/4));
      height: calc(99.9% * 1/4 - (10px - 10px * 1/4))
    }

.walkthrough-apps .view-content .views-row:nth-child(1n) {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      clear: none
    }

.walkthrough-apps .view-content .views-row:last-child {
      margin-right: 0;
      margin-bottom: 0
    }

.walkthrough-apps .view-content .views-row:nth-child(4n) {
      margin-right: 0
    }

.walkthrough-apps .view-content .views-row:nth-child(4n + 1) {
      clear: both
    }

.walkthrough-apps .view-content .views-row:nth-last-child(-n + 4) {
      margin-bottom: 0
    }

.walkthrough-apps .view-content .views-row a {
        transition: opacity 250ms ease-in-out
      }

.walkthrough-apps .view-content .views-row a .field--name-field-artwork {
          border-radius: 22.5%;
          margin-bottom: 0;
          overflow: hidden;
          position: relative;
          z-index: 1
        }

.walkthrough-apps .view-content .views-row a .field--name-field-artwork img {
            vertical-align: top;
            transition: transform 250ms ease-in-out;
          }

.walkthrough-apps .view-content .views-row a .walkthrough-apps__title {
          color: rgba(255, 255, 255, 0.65);
          font-size: 11px;
          line-height: 1.364;
          margin-top: 5px;
          text-align: center;
        }

.walkthrough-apps .view-content .views-row a:hover .field--name-field-artwork img {
              transform: scale(1.1);
            }

.walkthrough-apps .view-content::after {
      display: table;
      clear: both;
      content: "";
    }

@media all and (min-width: 1100px) {
      .walkthrough-apps .view-content .views-row {
        width: calc(99.9% * 1/4 - (15px - 15px * 1/4));
        max-width: calc(99.9% * 1/4 - (15px - 15px * 1/4));
        height: calc(99.9% * 1/4 - (15px - 15px * 1/4));
      }
      .walkthrough-apps .view-content .views-row:nth-child(1n) {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        clear: none;
      }
      .walkthrough-apps .view-content .views-row:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
      .walkthrough-apps .view-content .views-row:nth-child(4n) {
        margin-right: 0;
      }
      .walkthrough-apps .view-content .views-row:nth-child(4n + 1) {
        clear: both;
      }
      .walkthrough-apps .view-content .views-row:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
}


