.share {
  margin: 20px auto;
  text-align: center;
  & .a2a_kit a:hover,
  & .a2a_kit a:active,
  & .a2a_kit a:focus {
    border: none;
    opacity: .7;
  }
  & .addtoany_list.a2a_kit_size_32 a > span {
    border-radius: 50%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    width: 40px;
    padding: 4px;
  }
}
