/* -------------- Captions -------------- */
.caption {
  margin-bottom: 1.2em;
}
.caption > * {
  padding: 2px;
  border: 1px solid #d9d0bf;
  background: #ffffff;
  box-sizing: border-box;
}
.caption > figcaption {
  background: #eee9dd;
  border: 1px solid #d9d0bf;
  border-top: none;
  clear: both;
  color: #362717;
  font-size: .8em;
  line-height: 1.5;
  text-align: center;
  padding: 2px .5em;
}

/* Override Mogra's default blockquote and pre styles when captioned. */
.caption-pre > pre,
.caption-blockquote > blockquote {
  margin: 0;
}
.caption-blockquote > figcaption::before {
  content: "— ";
}
.caption-blockquote > figcaption {
  text-align: left; /* LTR */
}
[dir="rtl"] .caption-blockquote > figcaption {
  text-align: right;
}
