/**
 * @file
 * Visual styles for Mogra's field components.
 */

.field--type-entity-reference {
  margin: 0 0 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.field--type-entity-reference .field__label {
  margin: 0;
  padding-right: 5px; /* LTR */
  font-weight: normal;
}
[dir="rtl"] .field--type-entity-reference .field__label {
  padding-right: 0;
  padding-left: 5px;
}
.field--type-entity-reference .field__label,
.field--type-entity-reference ul.links {
  font-size: 0.8em;
}
.node--view-mode-teaser .field--type-entity-reference .field__label,
.node--view-mode-teaser .field--type-entity-reference ul.links {
  font-size: 0.821em;
}
.field--type-entity-reference ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* This is required to win over specificity of [dir="rtl"] .region-content ul */
[dir="rtl"] .field--type-entity-reference ul.links {
  padding: 0;
}
.field--type-entity-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .field--type-entity-reference ul.links li {
  float: right;
  padding: 0 0 0 1em;
}

@media all and (min-width: 560px) {
  .node .field--type-image {
    float: left; /* LTR */
    margin: 0 1em 0 0; /* LTR */
    &.field--name-field-eyecatch {
      float: none;
      margin: 0;
    }
  }
  [dir="rtl"] .node .field--type-image {
    float: right;
    margin: 0 0 0 1em;
  }
  .node .field--type-image + .field--type-image {
    clear: both;
  }
}
.field--type-image img,
.field--name-user-picture img {
  margin: 0 0 1em;
}
.field--type-image a {
  border-bottom: none;
}
.field--name-field-tags {
  margin: 0 0 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.field--name-field-tags .field__label {
  margin: 0;
  padding-right: 5px; /* LTR */
  font-weight: normal;
}
[dir="rtl"] .field--name-field-tags .field__label {
  padding-right: 0;
  padding-left: 5px;
}
.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  font-size: 0.8em;
}
.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  font-size: 0.821em;
}
.field--name-field-tags ul.links {
  margin: 0;
  padding: 0;
}
.field--name-field-tags ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .field--name-field-tags ul.links li {
  float: right;
  padding: 0 0 0 1em;
}

.field--name-field-screenshot-viewer {
  & .field__items {
    display: flex;
    float: none;
    width: auto;
    min-width: 100%;
    margin-bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    & > .field__item {
      box-sizing: border-box;
      width: calc(50% - 20px);
      flex-shrink: 0;
      flex-basis: calc(50% - 20px);
      &:not(:first-child) {
        margin-left: 10px;
      }
      & .field--type-image {
        float: none;
        margin: 0;
      }
      & picture {
        display: block;
        height: auto;
      }
      & img {
        width: 100%;
        height: auto;
        vertical-align: top;
        margin-bottom: 0;
        mask: url("../../images/masks/iphone-5-8-mask.svg") center/cover no-repeat;
      }
      @media all and (min-width: 560px) and (max-width: 850px), all and (min-width: 1000px) {
        width: calc(33.333% - 20px);
        flex-basis: calc(33.333% - 20px);
      }
    }
    @media all and (max-width: 850px) {
      margin-left: -18px;
      margin-right: -18px;
      padding-left: 18px;
      padding-right: 18px;
      &::after {
        content: "";
        display: block;
        flex: 0 0 18px;
        align-self: stretch;
      }
    }
    &.field--name-field-screenshot-landscape {
      & > .field__item {
        width: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
        & img {
          mask: url("../../images/masks/iphone-5-8-mask-landscape.svg") center/cover no-repeat;
        }
        @media all and (min-width: 560px) and (max-width: 850px), all and (min-width: 1000px) {
          width: calc(50% - 25px);
          flex-basis: calc(50% - 25px);
        }
      }
    }
  }

  & .field--name-field-url-cite {
    font-size: .86em;
    margin-top: 10px;
    text-align: right;
    & .field__label {
      color: #7D7F83;
      display: inline;
      float: none;
      font-weight: normal;
      padding-right: .25em;
    }
  }
}
