/**
 * @file
 * Visual styles for Mogra's main-content component.
 */

.main-content .section {
  padding: 0 5px;
}

body:not(.path-frontpage) .main-content .section .region-content,
.path-frontpage .views-card {
  border-style: solid;
  border-image: url(../../images/bg_container.png) 40 fill stretch;
  border-width: 20px;
}

@media all and (min-width: 560px) {
  .main-content .section {
    padding: 0 20px;
  }
  body:not(.path-frontpage) .main-content .section .region-content,
  .path-frontpage .views-card {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media all and (min-width: 851px) {
  .layout-one-sidebar .main-content .section {
    padding-left: 0;
  }
  .layout-two-sidebars .main-content .section {
    padding: 0;
  }
  .main-content {
    position: relative;
    float: left; /* LTR */
  }
  [dir="rtl"] .main-content {
    float: right;
  }
  .layout-two-sidebars .main-content {
    width: calc(100% - 576px);
    margin-right: 376px;
    margin-left: 200px;
  }
  .layout-one-sidebar .main-content {
    width: calc(100% - 200px);
  }
  .layout-no-sidebars .main-content {
    width: 100%;
  }
  .layout-sidebar-first .main-content {
    margin-right: 0; /* LTR */
    margin-left: 200px; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-first .main-content {
    margin-right: 200px;
    margin-left: 0;
  }
  .layout-sidebar-second .main-content {
    margin-right: 376px; /* LTR */
    margin-left: 0; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-second .main-content {
    margin-right: 0;
    margin-left: 376px;
  }

  /* Hidden sidebar second
  .layout-two-sidebars:not(.path-node):not(.path-search) .main-content {
    width: calc(100% - 200px);
    margin-right: 0; /* LTR
    margin-left: 200px; /* LTR
  }
  .layout-two-sidebars:not(.path-node):not(.path-search) .main-content .section {
    padding-right: 20px;
  }
  [dir="rtl"] .layout-two-sidebars:not(.path-node):not(.path-search) .main-content {
    margin-right: 200px;
    margin-left: 0;
  } */

}
