/* --------------- Primary Menu ------------ */

.region-primary-menu .menu {
  margin: 0 5px;
  padding: 0;
  text-align: center;
  font-size: 0.929em;
}
.region-primary-menu .menu-item {
  padding: 0;
}
.region-primary-menu .menu a {
  display: block;
  margin: 5px 0;
  padding: 1em 0;
  text-decoration: none;
  color: #FFF;
  border-style: solid;
  border-image: url(../../images/drainpipe_horizontal_1.png?tier2) 1 44 fill stretch;
  border-width: 0 22px;
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  text-shadow:
    black 2px 0px,  black -2px 0px,
    black 0px -2px, black 0px 2px,
    black 2px 2px , black -2px 2px,
    black 2px -2px, black -2px -2px,
    black 1px 2px,  black -1px 2px,
    black 1px -2px, black -1px -2px,
    black 2px 1px,  black -2px 1px,
    black 2px -1px, black -2px -1px,
    black 4px 2px,  black 0px 2px,
    black 2px 0px, black 2px 4px,
    black 4px 4px , black 0px 4px,
    black 4px 0px, black 0px 0px,
    black 3px 4px,  black 1px 4px,
    black 3px 0px, black 1px 0px,
    black 4px 3px,  black 0px 3px,
    black 4px 1px, black 0px 1px;
  &[data-drupal-link-system-path="review"] {
    border-image: url(../../images/drainpipe_horizontal_2.png?tier2) 1 44 fill stretch;
    border-width: 0 22px;
  }
  &[data-drupal-link-system-path="topics"] {
    border-image: url(../../images/drainpipe_horizontal_3.png?tier2) 1 44 fill stretch;
    border-width: 0 22px;
  }
  &[data-drupal-link-system-path="pre-registration"] {
    border-image: url(../../images/drainpipe_horizontal_4.png?tier2) 1 44 fill stretch;
    border-width: 0 22px;
  }
  &[data-drupal-link-system-path="special"] {
    border-image: url(../../images/drainpipe_horizontal_5.png?tier2) 1 44 fill stretch;
    border-width: 0 22px;
  }
  &:hover {
    transform-origin: 50% 100%;
    animation: bound 2s ease-out;
  }
  &.is-active {
    color: #fff;
  }
}

@keyframes bound {
  0% { transform: scale(1, 1); }
  5% { transform: scale(.6, .8); }
  10% { transform: scale(1, 1.2); }
  15% { transform: scale(1, 1); }
  20% { transform: scale(.8, 1); }
  25% { transform: scale(1, 1); }
  100% { transform: scale(1, 1); }
}

/* ---------- Primary Menu Toggle ----------- */
/* Hide the toggle by default. */
.menu-toggle,
.menu-toggle-target {
  display: none;
}
/* Unhide it for the primary menu. */
.region-primary-menu .menu-toggle-target {
  position: fixed;
  top: 0;
  display: inherit;
}
.region-primary-menu .menu-toggle {
  display: none;
}
body:not(:target) .region-primary-menu .menu-toggle {
  z-index: 1000;
  display: block;
  float: none;
  padding: 0.9em 10px 0.9em 10px;
  text-decoration: none;
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px #eee;
  font-size: 0.929em;
}
body:not(:target) .region-primary-menu .menu-toggle:after {
  position: absolute;
  right: 10px; /* LTR */
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background: url(../../../../../../misc/icons/ffffff/hamburger.svg) no-repeat;
  background-size: contain;
}
[dir="rtl"] body:not(:target) .region-primary-menu .menu-toggle:after {
  right: initial;
  left: 10px;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle,
body:not(:target) .region-primary-menu .menu-toggle--hide {
  display: none;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle--hide {
  display: block;
}

body:not(:target) .region-primary-menu .menu-item {
  overflow: hidden;
  height: 0;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu .menu-item {
  overflow: visible;
  height: auto;
}

/**
 * Media queries for primary menu.
 */
@media all and (min-width: 461px) {
  .region-primary-menu .menu {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }
  /* This is required to win over specificity of the global [dir="rtl"] .region-primary-menu .menu */
  [dir="rtl"] .region-primary-menu .menu {
    text-align: center;
  }
  .region-primary-menu .menu a {
    border-style: solid;
    border-image: url(../../images/drainpipe_vertical_1.png?tier2) 44 1 fill stretch;
    border-width: 32px 0 0;
    margin: 0;
    padding: 0 0 10px;
    width: 80px;
    &[data-drupal-link-system-path="review"] {
      border-image: url(../../images/drainpipe_vertical_2.png?tier2) 44 1 fill stretch;
      border-width: 32px 0 0;
    }
    &[data-drupal-link-system-path="topics"] {
      border-image: url(../../images/drainpipe_vertical_3.png?tier2) 44 1 fill stretch;
      border-width: 32px 0 0;
    }
    &[data-drupal-link-system-path="pre-registration"] {
      border-image: url(../../images/drainpipe_vertical_4.png?tier2) 44 1 fill stretch;
      border-width: 32px 0 0;
    }
    &[data-drupal-link-system-path="special"] {
      border-image: url(../../images/drainpipe_vertical_5.png?tier2) 44 1 fill stretch;
      border-width: 32px 0 0;
    }
  }

  .region-primary-menu .menu-item {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }

  body:not(:target) .region-primary-menu .menu-toggle {
    display: none;
  }

  body:not(:target) .region-primary-menu .menu-item {
    overflow: visible;
    height: auto;
  }

  /**
   * Ensures that the open mobile menu hides when the screen dimensions become
   * 461px or wider.
   */
  body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle--hide {
    display: none;
  }
}

@media all and (min-width: 901px) {
  .region-primary-menu .menu {
    justify-content: flex-start;
    margin: 0 15px;
  }
}

@media all and (max-width: 460px) {
  .region-primary-menu .menu-item {
    &:first-child a {
      margin-top: 10px;
    }
    &:last-child a {
      margin-bottom: 10px;
    }
  }
}
