/**
 * @file
 * Overall specifications for Mogra.
 */

html {
  height: 100%;
}
body {
  color: #303236 !important;
  min-height: 100%;
  word-wrap: break-word;
  font-family: Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, MS PGothic, Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
  line-height: 1.5;
}

a,
a.link {
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a,
h2 a {
  border-bottom: none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1em 0 0.5em;
  color: #000;
  font-size: 1.47em;
  font-weight: inherit;
}
h2,
.heading-b {
  margin: 1em 0 0.5em;
  font-size: 1.334em;
  font-weight: inherit;
}
h3,
.heading-c {
  margin: 1em 0 0.5em;
  font-size: 1.2em;
  font-weight: inherit;
}
h4,
.heading-d {
  margin: 1em 0 0.5em;
  font-weight: inherit;
}
h5,
.heading-e {
  margin: 1em 0 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.867em;
  font-weight: inherit;
}
h6,
.heading-f {
  margin: 1em 0 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.67em;
  font-weight: inherit;
}
p {
  margin: 0 0 1.334em;
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #eee9dd;
  border-radius: 20px;
  box-sizing: border-box;
  color: #201813;
  margin: 2em 0;
  padding: 1em 20px;
  position: relative;
  text-align: justify;
  & * {
    position: inherit;
    z-index: 1;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  & cite {
    display: block;
    text-align: right;
  }
  &::before,
  &::after {
    color: #d9d0bf;
    font-family: mogra;
    font-size: 100px;
    line-height: 1;
    position: absolute;
    z-index: 0;
  }
  &::before {
    content: "\E977";
    top: -25px;
    left: 7px;
  }
  &::after {
    content: "\E978";
    bottom: -20px;
    right: 7px;
  }
  @media all and (min-width: 560px) and (max-width: 850px), all and (min-width: 1100px) {
    margin: 50px auto;
    max-width: 600px;
    padding: 1.5em 2em;
    &::before {
      left: 15px;
    }
    &::after {
      right: 15px;
    }
  }
}
.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}
hr {
  border: none;
  border-top: dotted 5px #d9c5a6;
  margin: 25px 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}
