/**
 * @file
 * Default style for file module.
 */

/* File icons. */

.file {
  display: inline-block;
  min-height: 16px;
  padding-left: 20px; /* LTR */
  background-repeat: no-repeat;
  background-position: left center; /* LTR */
}

[dir="rtl"] .file {
  padding-right: 20px;
  padding-left: inherit;
  background-position: right center;
}

.file--general, .file--application-octet-stream {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUKFPNzbEJgEAQRNGp1QYswGD7NDIXzOTuQP0G4sHuWoDz0wcjhIzUZDIhpAc0Sq8+ZHQA5h4YYKcNDiw93pviwNp7ZziwhRLYQwnUUAJHKIE8+xtoXKHmwXcI3SlFmG99mF6sAAAAAElFTkSuQmCC);
}

.file--package-x-generic {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUKFONjzEOwjAQBO+tfIAHUNwDUOyHRJQ0FPCPVPRIqQhxUMiyPoOEY4LwaJWTPFnbAoEoCjYqKnFPkjCgJ45fh5CUdSYADVHsEGfLQ1eZcCZbXBm8j+kz4UIUe/s7LU6fQksqNlQ2taXQEcWB6YxCCMTZS4JRCCNRHJnRmAm14dngX3M9b0j3Pi2/Ii6PO/ND+KPhttQwYCKpYTKGXPhO3HsC04aIacv7+JYAAAAASUVORK5CYII=);
}

.file--x-office-spreadsheet {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfklEQVR42uWTwQnAIAxFPXW8DtEFOkAP7tFlHMizqGBNk0IgRSLSQ3voh4cRzONfNABwYa2FATbEELx3E+ScIcbYkFKSklUVUOZ9asDQIp8HsjwRSKIq8N43yLBMFTjneowJQgg08l3OLzUopXzcAPPLBvyZaq096I0uGEUKToYgH/I4zc8HAAAAAElFTkSuQmCC);
}

.file--x-office-document {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVR42tWTQQoDIQxFPWsv0OUsuvA6HqP3EdyJEdTUDFRSgmMzs5oPj2ySx9/EIOKOtRb/4NWh3XH3I8g5Y0pJAABc8pwKKGZ7C3ro8Dtr53FGwElTgfdewDJkU4FzbhBCoMnRCWKMApUAAK41KKUIVIJaq77BOusGvMndGtAztdaOoJ25QMEQfADzDx8Vvn4t4AAAAABJRU5ErkJggg==);
}

.file--x-office-presentation {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfElEQVR42uWTwQqAIAyGfdZeoHN08IEFbzE95HLBYDGmo4798OEQ9w0UAyLexBjRwd4JBPc9BLVWBABFKUVKVlNAObag6KFGXs/O8kYgAVOQUlLIsMwU5JwZnib3poLZK/gERn4g+H6JepqufQKuR0LzM7XWRtAZW+BFCi4gNB3nGM87qwAAAABJRU5ErkJggg==);
}

.file--text-x-script {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVR42p2TwQqCQBRF+6n+plWLtn1ACz+qH4jARSFEIIaSIFlSTbgTFcyXd+DBpA2venB4c2HuYRAcEZHGcRz6gkXHCHDvTVDXNZVlOaCqKlMytwowURQN6AZF3s+OqVWQJEkfLpqUVoFSikI/0psxh2VWwfEQ02Q8o83KozzP+8iCoiho5+615BSnyCayAF/8nGQQYCMDPsuCpmnomt60wN8GZsaWBTzrpatLKnsg8pYFfBnlwAsR/xZwCSLOoqBf6L9GEAjPFwX4mdq2pftFYX8Cd+yCX+DeC5A+MoQOrK9aAAAAAElFTkSuQmCC);
}

.file--text-html {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0ElEQVR42o2TzwqCQBCHfaneplOHrj1AB5+iNwg6R50Cjd4ggv4JhXfB27IK5uRvQNjGdseBjx1m5/cpghERMXEc0wiWHRHocz+Cuq7JWjugqipXsvAKUFmWSTBGsD8/HTOvIM9zSR90sV5BURQDRLHEKyjLMoQuMMYw1/PtX68L8MUP24SmkzndL0+AHjPc6YJkd0SAz6ZpgDsLC16PNy+uVxsShRnusBN+g3R/wiKfXMOZVyADeBoQQl2AQlD2ukApXYCfqW3bENjxC8biCr5jjTChqbabBgAAAABJRU5ErkJggg==);
}

.file--text-plain {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUKFOVjsEJgDAMRTOrCziAh2ziGu7iyYsgCAqi1B70a20brOnFPGho8/gpgUAMRcXE5GbkBQsj7F4pEwFoBcDd+eAiEWoBcY1JhFGIdb++hSYwha6EQdgesgmL5GQS5g9K6AI2dCWcH5Swor8xcipB1z/Bqj/YVMjjZhc7mJGqupzewQAAAABJRU5ErkJggg==);
}

.file--application-pdf {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABIUlEQVR42o3TsYrCMBzH8XsdQXFzEtxd3MRNOXC+SZcb6iO4+hKCIG5OLg4KLi7FoeAiFJqWtqRpY36X5rii1lz6hy8lkHygKf0AoLIsCxX6luV7i3NPAGMMlNJSSZI8Il9aIB/btkvJyQ/+Pe+yTy3gOM5rBfAQ1QKu65Z6GYVoAc/z3kZmM5DBwAzEcVwqOp1AGg2E67UZkDf+nO8j6PdBmk3Q280McM6LMnk4mk7ht9sIej1wxswAW60gCEF2OCAcDkEXC4Ty3cPRqNolkloNQaeDaDxGutkojNTr1YFsv1eb+fms1ulu94t2u3KRmgGFHI+IJxNACLDlMgfUV7hfr0agGDqfg18uCvBbLVW63RaA9mcSQvyb3KMHKvYE/AATKCkZNWgL9AAAAABJRU5ErkJggg==);
}

.file--application-x-executable {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUKFPNzbEJgEAQRNGp1QYswGD7NDIXzOTuQP0G4sHuWoDz0wcjhIzUZDIhpAc0Sq8+ZHQA5h4YYKcNDiw93pviwNp7ZziwhRLYQwnUUAJHKIE8+xtoXKHmwXcI3SlFmG99mF6sAAAAAElFTkSuQmCC);
}

.file--audio {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAUlEQVQ4T2P4//8/AwjX19f/JwJXAzFILQNMHwOyAT9//vz//ft3DPzjxw9kQ/JxGgACt27dwsAgAJMH0n+BOAmnAQ8ePMDAMAOQ8HecBrx+/RoDowOoWuwGvHv3DozvPb32/+jNzf/XnO77P3lf1v/y9Y7/s1caEDbg69evYBw+X+i/3yw2DEzQAFCIgzBIcdfu6P/LTjf/P3Bzxf+Hr28QZ8CfP3/AGKQYxkYWI2gADMAUYxOjvwFh0ACNXiRJ2AD0EAeB4vVW/yMWiPyfdjiHsAHBc3n/Z6zU+n/r1Sm4AX/+/vr//dfn///+/cVvACgz/fv3Dy8GqcFpACkYpg8AAvAYmxqc24kAAAAASUVORK5CYII=);
}

.file--video {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUKM+VkDEOAjEMBP1WPsADKHbfSUVPje4KYK6IQXaUAjJdNJrYCYIQRp2LQkEQMQQwW7IP5dwEY64JCNBLp6lwS/g8s30FY8w9ARg3U6EDYprhUTDuApi9sCw8C8tCPVPBrPm9oFysCv/NIIR5F8ZnN2EFQRzuz4DHtCLOagAAAABJRU5ErkJggg==);
}

.file--text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUKFOVjsEJgDAMRTOrCziAh2ziGu7iyYsgCAqi1B70a20brOnFPGho8/gpgUAMRcXE5GbkBQsj7F4pEwFoBcDd+eAiEWoBcY1JhFGIdb++hSYwha6EQdgesgmL5GQS5g9K6AI2dCWcH5Swor8xcipB1z/Bqj/YVMjjZhc7mJGqupzewQAAAABJRU5ErkJggg==);
}

.file--image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABSElEQVR42pWSPUvDUBSGs/kn/Acu0sEIWiqK+IWgFnEXtw5OotAhg0oUREdFxVkEFxdBnMRJVKiJYFPwszRJoRpRTG5t8pp7htBakuiBh/fwJveBSyIAICRJwh/I+ggcAESDgDEG27abcBynXjIbKuBTPutvgo+8SM+5wPWZDhV83i/DZTqH9rfrIepXlhquYocKvO8Kj2D/yI/i15AkXFAjQbDbz2P1xAtq1pp/0IRRUjCfacHcjICikqTckgV4nhctcK1J4vy4FUahh3IhI9CuaymoqhotwNdUFPFXqJppVMtpMGMCdnGckjqTuniBftoHKzeMd2WEsnIxgNJJL/0Pr1eD8YKnwyQe9rug7Ygo7HXi8aCbupejFGWsICe343Yjgfy2CG1XxN1mB25WqYO6nogXXGbboogWMMboO0dA74QK/kEg+AF8CQd/ykAeRgAAAABJRU5ErkJggg==);
}

