/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 15px 20px 15px 35px; /* LTR */
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;  /* LTR */
  border-radius: 2px;
  background: no-repeat 10px 17px;  /* LTR */
  overflow-wrap: break-word;
}

[dir="rtl"] .messages {
  padding-right: 35px;
  padding-left: 20px;
  text-align: right;
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
}

.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

/* See .color-success in Seven's colors.css */

.messages--status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
  background-color: #f3faef;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzczYjM1NSI+PHBhdGggZD0iTTYuNDY0IDEzLjY3NmMtLjE5NC4xOTQtLjUxMy4xOTQtLjcwNyAwbC00Ljk2LTQuOTU1Yy0uMTk0LS4xOTMtLjE5NC0uNTEzIDAtLjcwN2wxLjQwNS0xLjQwN2MuMTk0LS4xOTUuNTEyLS4xOTUuNzA3IDBsMi44NDkgMi44NDhjLjE5NC4xOTMuNTEzLjE5My43MDcgMGw2LjYyOS02LjYyNmMuMTk1LS4xOTQuNTE0LS4xOTQuNzA3IDBsMS40MDQgMS40MDRjLjE5My4xOTQuMTkzLjUxMyAwIC43MDdsLTguNzQxIDguNzM2eiIvPjwvc3ZnPg==);
  box-shadow: -8px 0 0 #77b259; /* LTR */
}

[dir="rtl"] .messages--status {
  margin-left: 0;
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
}

/* See .color-warning in Seven's colors.css */

.messages--warning {
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
  background-color: #fdf8ed;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2UyOTcwMCI+PHBhdGggZD0iTTE0LjY2IDEyLjMxNmwtNS4zMTYtMTAuNjMzYy0uNzM4LTEuNDc2LTEuOTQ2LTEuNDc2LTIuNjg1IDBsLTUuMzE3IDEwLjYzM2MtLjczOCAxLjQ3Ny4wMDggMi42ODQgMS42NTggMi42ODRoMTAuMDAyYzEuNjUgMCAyLjM5Ni0xLjIwNyAxLjY1OC0yLjY4NHptLTcuNjYtOC4zMTZoMi4wMDJ2NWgtMi4wMDJ2LTV6bTIuMjUyIDguNjE1YzAgLjM0NC0uMjgxLjYyNS0uNjI1LjYyNWgtMS4yNWMtLjM0NSAwLS42MjYtLjI4MS0uNjI2LS42MjV2LTEuMjM5YzAtLjM0NC4yODEtLjYyNS42MjYtLjYyNWgxLjI1Yy4zNDQgMCAuNjI1LjI4MS42MjUuNjI1djEuMjM5eiIvPjwvc3ZnPg==);
  box-shadow: -8px 0 0 #e09600; /* LTR */
}

[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

/* See .color-error in Seven's colors.css */

.messages--error {
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
  background-color: #fcf4f2;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2UzMjcwMCI+PHBhdGggZD0iTTguMDAyIDFjLTMuODY4IDAtNy4wMDIgMy4xMzQtNy4wMDIgN3MzLjEzNCA3IDcuMDAyIDdjMy44NjUgMCA3LTMuMTM0IDctN3MtMy4xMzUtNy03LTd6bTQuMDI1IDkuMjg0Yy4wNjIuMDYzLjEuMTQ5LjEuMjM5IDAgLjA5MS0uMDM3LjE3Ny0uMS4yNGwtMS4yNjIgMS4yNjJjLS4wNjQuMDYyLS4xNS4xLS4yNC4xcy0uMTc2LS4wMzYtLjI0LS4xbC0yLjI4My0yLjI4My0yLjI4NiAyLjI4M2MtLjA2NC4wNjItLjE1LjEtLjI0LjFzLS4xNzYtLjAzNi0uMjQtLjFsLTEuMjYxLTEuMjYyYy0uMDYzLS4wNjItLjEtLjE0OC0uMS0uMjQgMC0uMDg4LjAzNi0uMTc2LjEtLjIzOGwyLjI4My0yLjI4NS0yLjI4My0yLjI4NGMtLjA2My0uMDY0LS4xLS4xNS0uMS0uMjRzLjAzNi0uMTc2LjEtLjI0bDEuMjYyLTEuMjYyYy4wNjMtLjA2My4xNDktLjEuMjQtLjEuMDg5IDAgLjE3Ni4wMzYuMjQuMWwyLjI4NSAyLjI4NCAyLjI4My0yLjI4NGMuMDY0LS4wNjMuMTUtLjEuMjQtLjFzLjE3Ni4wMzYuMjQuMWwxLjI2MiAxLjI2MmMuMDYyLjA2My4xLjE0OS4xLjI0IDAgLjA4OS0uMDM3LjE3Ni0uMS4yNGwtMi4yODMgMi4yODQgMi4yODMgMi4yODR6Ii8+PC9zdmc+Cg==);
  box-shadow: -8px 0 0 #e62600; /* LTR */
}

[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

.messages--error p.error {
  color: #a51b00;
}

