/**
 * @file
 * Mogra layout styling.
 */

/**
 * Container
 */

.layout-container {
  box-sizing: border-box;
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 851px) {
  .layout-container {
    max-width: 1290px;
  }
}

/**
 * Main
 */

.layout-main-wrapper {
  min-height: 300px;
}

.layout-main {
  margin-bottom: 20px;
  position: relative;
}

@media all and (min-width: 560px) {
  .layout-main {
    margin-bottom: 40px;
  }
}

